/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.info .img {
  width: 100%;
}
.info .more {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .info { 
    text-align: center;
  }

}

.main-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.wrapper {
  display: flex;
}
.list {
  margin: 0;
  padding: 0px;
}
/* тут идет обнуление стилей, поэтому не меняютс селекторы на классы */
li,
h3 {
  list-style: none;
}
/* тут идет обнуление стилей, поэтому не меняютс селекторы на классы */
input,
button{
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3A3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task:focus {
  color: #333;
}

/* New Task */
.title {
  display: block;
  margin: 0 0 20px;
}
#add-task__new {
  width: 318px;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__item > * {
  vertical-align: middle;
}

.list__item > .checkbox {
  margin: 0 10px;
}
.list__item > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.list__item > .task {
  width: 226px;
}
.btn.delete .img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn.delete .img:hover {
  transform: rotateZ(0);
}

/* Completed */
.list#completed .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list .list__item .text {
  display: none;
}

.list .edit-mode .text {
  display: inline-block;
  width: 224px;
}

.list .edit-mode .label {
  display: none;
}